

#input, #main {
    box-shadow: 2px 2px 20px rgba(20, 20, 20, 0.575);
}

#main {
    margin: 0 auto;
    padding: 2em;
    width: 500px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}
.bg-gradient-to-r {
    background: linear-gradient(to right, #9b5de5, #f15bb5, #f25f4c);
}

.stars {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.star {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    animation: move 10s linear infinite;
}

@keyframes move {
    from {
        transform: translateY(0) translateX(0);
    }
    to {
        transform: translateY(-100vh) translateX(100vw);
    }
}